			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Duracion</th>
							<th>Medio</th>
							<th>Coste </th>
							<th>Seguro</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tipoEnvio in tiposEnvio">
							<td>{{tipoEnvio.name}}</td>
							<td>{{tipoEnvio.duracionViaje}}</td>
							<td>{{tipoEnvio.medioTransporte}}</td>
							<td>{{tipoEnvio.costeTonelada}}</td>
							<td>{{tipoEnvio.seguroIncluido}}</td>
							<td> 
							<button class="btn btn-success" type="button" title="Edit" ng-click="go('/edit/'+tipoEnvio.id)" > <span class="glyphicon glyphicon-pencil"></span> </button>
							<button class="btn btn-danger" type="button" title="Delete" ng-click="deleteTipoEnvio(tipoEnvio)">
							<span class="glyphicon glyphicon-remove"></span>
							</button>  
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn bhn-success" type="button" title="New" ng-click="go('/alta')"><span class="glyphicon glyphicon-plus"></span></button>
